<!DOCTYPE html>
<html lang="en">
<!-- Write your comments here -->
<head> <!-- gives brower some information -->
	<title>Hey, I am a tab name!</title><!-- is the name of the tab of browser -->
	<meta charset="utf-8" /> 
	{% load staticfiles %}<!-- load staticfiles -->
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/><!-- load CSS page -->
	<meta name="viewport" content = "width=device-width, initial-scale=1.0"><!-- for bootstrap which make webpage mobile friendly, window can adjust for many resolutions -->
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style><!-- for the footer, make footer always displayed at the bottom of the page unless there is conflict. Purpose is making the webpage always like a whole page. -->
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; "><!-- fluid: bootstrap specific container which is mobile friendly -->
		<div class="row"><!-- rows are bootstrap grids. https://getbootstrap.com/docs/3.3/css/#grid-example-basic -->
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'personal/img/profile.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h3>Playing with Django 1.9</h3>
				  </center>
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/'>Home</a></li>
				<li><a href='/blog/'>Blog</a></li>
				<li><a href='/contact/'>Contact</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">
		  
			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>	
	
</body>

</html>